.container{
    display: flex;
    width: 768px;
    height: 830px;
    margin-left: 336px;
    background-color: #FFF;
    box-sizing: border-box;
}


.sectionContainer {
    display: flex;
    width: 640px;
    height: 101px;
    gap: 16px;
    flex-direction: column;
    text-align: center;
    padding: 0px 64px;
}

.sectionHeading{
    height: 58px;
    width: 640px;
    font-size: 48px;
    margin-top: 64px;
    margin-bottom: 0;
}

.sectionText{
    width: 640px;
    height: 27px;
}


